<div class="container">
  <form name="new-course-form" class="form-compact" ng-submit="save()">
      
        <div class="form-group">
          <input ng-model="course.title" name="title" type="text" class="form-control" placeholder="Title" required>
        </div>

        <div class="form-group" ng-if="course.period">
          <div class="row">
            <div class="col-xs-6">
              <select ng-model="course.period.season" class="form-control">
                <option>Spring</option>
                <option>Summer</option>
                <option>Autumn</option>
                <option>Winter</option>
              </select>
            </div>
            <div class="col-xs-6">
              <select ng-model="course.period.year" class="form-control">
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Instructor Email" ng-model='course.email'>
            </div>
            <button type="submit" class="btn btn-default" ng-click="save()">Add Instructor</button>
          </form>
        </div>


      <div class="form-group">
          <div class="wmd-panel">
              <div id="wmd-button-bar"></div>
              <textarea class="wmd-input" id="wmd-input" ng-model="course.frontpage"></textarea>
          </div>
      </div>

      <div class="form-group alert alert-danger" ng-show="errors.form">
          <label class="control-label">Felmeddelanden</label>
          <div class="controls" ng-bind="errors.form"></div>
        </div>

        <div class="form-group">
          <div class="loading" ng-show="loading"></div>
          <input type="submit" name="submit-button" class="btn btn-success" ng-hide="loading" value="Save">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="preview"> Preview
          </label>
          <div ng-show="preview">
            <hr>
            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
          </div>
        </div>
    </form>
</div>