<div id="notFoundView" ng-include="'/view/404.html'" style="display:none"></div>

<div class="container">
    <h2>Course: {{course}}</h2>
    <table class="table table-hover">
        <tbody>
            <tr><td colspan="3"><h5>Evaluations</h5></td></tr>
            <tr ng-repeat="x in quizes">
                <td>Quiz {{$index}}:</td>
                <td class="text-right">{{x.score}}</td>
                <td class="text-right">{{x.weight*100}}%</td>
            </tr>
            <tr><td colspan="3"><h5>Assignments</h5></td></tr>
            <tr ng-repeat="x in assignments">
                <td>Ass {{$index}}:</td>
                <td class="text-right">{{x.score}}</td>
                <td class="text-right">{{x.weight*100}}%</td>
            </tr>
            <tr><td colspan="3"><h5>Exams</h5></td></tr>
            <tr ng-repeat="x in exams">
                <td>Exam {{$index}}:</td>
                <td class="text-right">{{x.score}}</td>
                <td class="text-right">{{x.weight*100}}%</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a class="btn btn-primary">Save</a>
        &nbsp;&nbsp;
        <a class="btn btn-danger">Cancel</a>
        <br>
        <br>
    </div>
</div>